// Resets, Clearfix, etc
@import 'partials/reset';
@import 'partials/clearfix';
// Variables
$dark-color: #203040;
$light-color: #d0e8ff;
$bright-color: #00c0ff;
$padding: 8px;

// Media Query Ranges
$small-range: ( 0em, 40em );
$medium-range: ( 40.063em, 64em );
$large-range: ( 64.063, 120em );

$medium-query: "only screen and (min-width: 600px) and (max-width: 899px)";

$large-query: "only screen and (min-width: 900px)";



// Mixins

@mixin font-effects($size) {
  font-weight: bolder;
  text-transform: capitalize;
  font-size: $size;
}

// Styles
body{
  background-color: orange;
  text-align: center;
  color: #EEE;
  @media #{$medium-query} {
    color: $light-color;
    background-color: $dark-color;
  }
  @media #{$large-query} {
    color: $dark-color;
    background-color: $light-color;
    @include font-effects(16px);
  }
}

h1, h2, h3, h4{
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

h1{
  @include font-effects(24px);
  padding: 20px;
}

h2{

}


.block_family{
  max-width:350px;
  margin:auto;
}

.block_family li{
  background-color: #222;
  margin-bottom: 20px;
  padding: 20px;
  @media #{$medium-query} {
    background-color: $bright-color;
  }
  @media #{$large-query} {
    background-color: $bright-color;
  }
}

@media screen {

}